---
import { Image } from "astro:assets";
import Card from "./Card.astro";

const { titleTop, titleBottom, description, img, alt } = Astro.props;
---

<Card isUnderline={true} class="bg-green rounded-[45px]">
  <div
    class="w-full rounded-[45px] p-8 sm:p-[50px] grid lg:grid-cols-2 lg:gap-[60px] gap-8 items-center"
  >
    <div class="flex flex-col gap-4">
      <h3 class="flex flex-col">
        <span class="whitehead w-fit">{titleTop}</span>
        <span class="whitehead w-fit">{titleBottom}</span>
      </h3>
      <p class="text-white/90 text-sm lg:text-base">
        {description}
      </p>
    </div>

    <picture
      class="flex justify-start items-center w-[70%] sm:w-[60%] lg:w-full"
    >
      <Image
        src={img}
        alt={alt}
        class="w-full h-auto object-cover rounded-2xl"
      />
    </picture>
  </div>
</Card>